<pre>
The link you asked for has been reverse engineered for you.

Now you can copy and use what it was before:

<input type=text value="{{ resolved.url|escape }}" size=50/>

Or you can follow the original link directly:

<a href="{{ resolved.url|escape }}">{{resolved.url|escape}}</a>

Or see the stats for:
* <a href="analytics/recent_targets.html?count=100">recent targets</a>
* <a href="analytics/popular_domains.html?count=10&days=30">popular domains</a>

Or you can return to the <a href="/">intro page</a>.

</pre>