<pre>
Congratulations, you've made this URL short.

Now you can copy and use it:

<input type=text value="{{ shortened.shortcut|escape }}" size=50/>

Or you can follow the link:

<a href="{{ shortened.shortcut|escape }}">{{shortened.shortcut|escape}}</a>

Or try to resolve it back: <a href="resolve.html?id={{shortened.code|escape}}">resolve.html?id={{shortened.code|escape}}</a>

Or see the stats for:
* <a href="analytics/recent_targets.html?count=100">recent targets</a>
* <a href="analytics/popular_domains.html?count=10&days=30">popular domains</a>

Or you can return to the <a href="/">intro page</a>.

</pre>
