<pre>
The page you requested does not exist.

You can try these JSON requests (with just a GET method):

    /v1/shorten.json?url=http://google.com/
    /v1/resolve.json?id=abcdefhijklmnopqrstuvwxyz
    /v1/analytics/recent_targets.json?count=100
    /v1/analytics/popular_domains.json?count=10&days=30

Or just go by the generated URL (with no /v1/ prepended).

Or, being more friendly, here are the links and forms to HTML version:

* <a href="/v1/analytics/recent_targets.html?count=100">recent targets</a>
* <a href="/v1/analytics/popular_domains.html?count=10&days=30">popular domains</a>
</pre>

<form method="GET" action="/v1/shorten.html">
    URL: <input type=text name=url value="http://google.com/" size=50/><br/>
    <input type=submit name="" value="shorten"/>
</form>



<pre>
    
    
    
    
The service is a bit rough... well, very rough.
That's okay for prototype.
Beauty comes with time.

    
    
    
    
    
+------------------------------------------------------------------------------+
|       REMEMBER REMEMBER                                                      |
|                          A COLOSSAL ANNOYING BANNER                          |
|                                                      TO SELL IN NOVEMBER     |
+------------------------------------------------------------------------------+
</pre>

